In [3]:
# Pull down the data first
import pandas as pd
df = pd.read_csv('day01.csv',header=None)
df.head()

      0
0  1150
1  1579
2  1361
3  1319
4  1201

In [22]:
# Lazy loop
values = df[0].values
for idx,i in enumerate(values):
    for jdx,j in enumerate(values[idx:]):
        if (i+j) == 2020:
            print(i*j)

1014624

In [28]:
#Now for second part
for idx,i in enumerate(values):
    for jdx,j in enumerate(values[idx:]):
        for kdx,k in enumerate(values[jdx:]):
            if (i+j+k) == 2020:
                print(i*j*k)

80072256
80072256
80072256